<ul>
    <li
        class="width-100px"
        id="client-logo"
        style="
            background: url('https://cdn.worldvectorlogo.com/logos/lorem-lorem.svg');
        "
    ></li>
    <li class="tooltip-barra-ferramentas" onclick="showSlides()">
        <i class="bi bi-view-stacked"></i>
        <span class="tooltiptext">Quadros</span>
    </li>
    <li class="tooltip-barra-ferramentas" onclick="showLayers()">
        <i class="bi bi-layers"></i>
        <span class="tooltiptext">Camadas</span>
    </li>
    <li class="separador"></li>
    <li class="tooltip-barra-ferramentas" onclick="createCircle()">
        <i class="bi bi-circle"></i>
        <span class="tooltiptext">Adicionar circulo</span>
    </li>
    <li class="tooltip-barra-ferramentas" onclick="createSquare()">
        <i class="bi bi-app"></i>
        <span class="tooltiptext">Adicionar quadrado</span>
    </li>
    <li class="separador"></li>
    <li class="tooltip-barra-ferramentas" onclick="createText()">
        <i class="bi bi-fonts"></i>
        <span class="tooltiptext">Adicionar texto</span>
    </li>
    <li class="tooltip-barra-ferramentas" onclick="createImage()">
        <i class="bi bi-image"></i>
        <span class="tooltiptext">Adicionar imagem</span>
    </li>
    <li class="separador"></li>
    <li class="tooltip-barra-ferramentas" onclick="saveImage()">
        <i class="bi bi-download"></i>
        <span class="tooltiptext">Baixar slide</span>
    </li>
    <li class="separador"></li>
    <li
        class="tooltip-barra-ferramentas"
        id="fullscreen-button"
        onclick="openFullscreen()"
    >
        <i class="bi bi-arrows-fullscreen"></i>
        <span class="tooltiptext" id="tolltip-fullscreen"
            >Expandir em tela cheia</span
        >
    </li>
    <li class="tooltip-barra-ferramentas">
        <i class="bi bi-play-circle-fill"></i>
        <span class="tooltiptext">Visualizar conteúdo</span>
    </li>
    <li class="separador"></li>
    <li class="tooltip-barra-ferramentas" onclick="backHistory()">
        <i class="bi bi-arrow-return-left"></i>
        <span class="tooltiptext">Anterior</span>
    </li>
    <li class="tooltip-barra-ferramentas" onclick="nextHistory()">
        <i class="bi bi-arrow-return-right"></i>
        <span class="tooltiptext">Próximo</span>
    </li>
    <li class="separador"></li>
    <li class="tooltip-barra-ferramentas" onclick="zoomIn()">
        <i class="bi bi-zoom-in"></i>
        <span class="tooltiptext">Zoom +</span>
    </li>
    <li class="tooltip-barra-ferramentas" onclick="zoomOut()">
        <i class="bi bi-zoom-out"></i>
        <span class="tooltiptext">Zoom -</span>
    </li>
    <li class="tooltip-barra-ferramentas" onclick="reset()">
        <i class="bi bi-fullscreen-exit"></i>
        <span class="tooltiptext">Resetar Zoom</span>
    </li>
</ul>
