<ul>
    <li class="bi bi-aspect-ratio" onclick="addFrame()">
        <span>Templates</span>
    </li>
   <!--<li class="tooltip-barra-ferramentas" onclick="addFrame()">
    <i class="bi bi-plus-square"></i>
        <span>Adicionar quadro</span>
    </li>-->
   <!--<li class="bi bi-view-stacked" onclick="loadComponent('components/slides/slides', 'barra-lateral');">
        <span>Quadros</span>
    </li>
    <li class="bi bi-layers" onclick="loadComponent('components/layers/layers', 'barra-lateral');">
        <span>Camadas</span>
    </li>-->
    <!-- <li class="separador"></li> -->
    <li class="bi bi-fonts" onclick="loadComponent('components/title/title', 'barra-lateral');">
        <span>Fontes</span>
    </li>
    <li class="bi bi-images">
        <span>Imagens</span>
    </li>
    <li class="bi bi-play-btn">
        <span>Videos</span>
    </li>
    <li class="bi bi-music-note-beamed">
        <span>Sons</span>
    </li>
    <li class="bi bi-balloon">
        <span>Objetos</span>
    </li>
    <li class="bi bi-circle-square">
        <span>Elementos</span>
    </li>
    <!-- <li class="separador"></li> -->
    <!--<li class="tooltip-barra-ferramentas" onclick="createCircle()">
        <i class="bi bi-circle"></i>
        <span>Adicionar circulo</span>
    </li>
    <li class="tooltip-barra-ferramentas" onclick="createSquare()">
        <i class="bi bi-app"></i>
        <span>Adicionar quadrado</span>
    </li>
    <li class="tooltip-barra-ferramentas">
        <i class="bi bi-triangle"></i>
        <span>Adicionar triangulo</span>
    </li>            
    <li class="separador"></li>
    <li class="tooltip-barra-ferramentas" onclick="loadComponent('components/property/config', 'barra-lateral');">
        <i class="bi bi-gear"></i>
        <span>Configurações</span>
    </li>-->
</ul>