<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Tilt+Neon&family=Inter&family=Roboto+Mono&family=Work+Sans&family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
<div id="titulo-ferramentas">
   <h3>Fontes</h3>
   <ul id="font-list">
      <li style="font-family: 'Noto Sans'" onclick="createText('Noto Sans')">Noto Sans</li>
      <li style="font-family: 'Roboto Condensed'" onclick="createText('Roboto Condensed')">Roboto Condensed</li>
      <li style="font-family: 'Open Sans'" onclick="createText('Open Sans')">Open Sans</li>
      <li style="font-family: 'Tilt Neon'" onclick="createText('Tilt Neon')">Tilt Neon</li>
      <li style="font-family: 'Inter'" onclick="createText('Inter')">Inter</li>
      <li style="font-family: 'Roboto Mono'" onclick="createText('Roboto Mono')">Roboto Mono</li>
      <li style="font-family: 'Work Sans'" onclick="createText('Work Sans')">Work Sans</li>
      <li style="font-family: 'Barlow Condensed'" onclick="createText('Barlow Condensed')">Barlow Condensed</li>
   </ul>
</div>