<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../css/main.css?v=1833"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../css/screen.css?v=1833"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap&family=Noto+Sans:wght@300"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <script src="../../config.js?v=1833"></script>
    <script>
      let countSlide = 1;
    </script>
    <title></title>
  </head>
  <body>
    <div class="slides">
      <div id="titulo-ferramentas">
        <h3>Quadros</h3>
      </div>
      <ul id="ul-slide"></ul>
    </div>
    <script src="../../lib/sortable/sortable.js?v=1833"></script>
    <link rel="stylesheet" href="../../lib/sortable/sortable.css?v=1833" />
    <script src="../../slides.js?v=1833"></script>
  </body>
</html>
